<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout.html}">
<head>
<title>AccountingList</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />


</head>
<body>

	<div layout:fragment="content">
		<h1>歡迎登入</h1>
		<table>
			<tr valign="bottom">
				<td>
					<h1>流水帳管理系統</h1>
				</td>
				<td>&emsp; &emsp; &emsp;<a href="/Login/Login">登入系統</a>
				</td>
			</tr>
		</table>
	</div>
</body>

